.app {
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  color: #FFFFFF;
}

.app__more {
  width: 320px;
  padding: 0 20px;
  padding-top: 28px;
  padding-bottom: 30px;
  box-sizing: border-box;
  position: relative;
  z-index: 20;
}

.app__header {
  position: relative;
  z-index: 20;
  padding: 29px 20px;
  padding-bottom: 34px;
}

.app__slogan {
  margin: 0;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  box-sizing: border-box;
}

.app__button {
  width: 280px;
  display: block;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: #FFFFFF;
  padding: 17px 35px;
  box-sizing: border-box;
  border: 3px solid #FFFFFF;
  border-radius: 29px;
  margin: 0 auto;
}

.app__button:hover,
.app__button:focus {
  background-color: #FFFFFF;
  color: #D22856;
}

.app__button:active {
  color: rgba(210, 40, 86, .3);
}

.app__list {
  width: 204px;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.app__description {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  margin: 0 auto;
  margin-top: 15px;
  text-align: center;
}

@media (min-width: 320px) and (max-width: 659px) {
  .app {
    background-image: url(../../img/bg-back-mobile@1x.jpg);
    width: 100%;
  }

  .app__header {
    padding: 20px;
    padding-top: 79px;
    padding-bottom: 34px;
  }

  .app__more {
    width: 100%;
    background-color: #1D2631;
  }

  .app__img {
    margin: 0 auto;
    margin-top: 8px;
  }

  .app__slogan {
    width: 280px;
    margin: 0 auto;
  }
}

@media (min-width: 660px) {
  @media (min-resolution: 2dppx) {
    .app {
      background-image: url(../../img/bg-back-mobile@2x.jpg);
    }
  }

  .app {
    width: 100%;
    height: auto;
    background-image: url(../../img/bg-back-tablet@1x.jpg);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .app__wrapper {
    width: 660px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 20px;
    position: relative;
  }

  .app__img {
    display: block;
    box-sizing: border-box;
    width: 660px;
    height: 545px;
    position: absolute;
    right: 20px;
    bottom: 0;
    z-index: 10;
  }

  .app__more {
    width: 300px;
    background-color: none;
    position: relative;
    padding-left: 0;
    padding-bottom: 110px;
    z-index: 20;
  }

  .app__list {
    margin-top: 42px;
    margin-bottom: 30px;
    padding-left: 12px;
  }

  .app__slogan {
    width: 230px;
    min-height: 127px;
    margin-top: 98px;
    margin-left: 35px;
    font-weight: 300;
    font-size: 40px;
    line-height: 120%;
    box-sizing: border-box;
    text-align: center;
  }

  .app__description {
    width: 300px;
    text-align: center;
    font-weight: 300px;
    font-size: 18px;
    line-height: 24px;
  }

  .app__button {
    width: 300px;
  }

  .app__more_wrapper {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .app {
    background-image: url(../../img/bg-back-desktop@1x.jpg);
    background-repeat: no-repeat;
  }

  .app__wrapper {
    width: 1200px;
    box-sizing: border-box;
    padding: 0 130px;
    padding-top: 98px;
    position: relative;
  }

  .app__img {
    width: 1050px;
    height: 645px;
    background-image: url(../../img/iphone-hand-desktop@1x.png);
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
  }

  .app__more {
    background-color: none;
    width: 300px;
    padding-top: 35px;
    padding-bottom: 120px;
  }

  .app__header {
    padding-left: 30px;
  }

  .app__slogan {
    margin-top: 0;
    margin-left: 0;
    font-weight: 300;
    font-size: 50px;
    line-height: 68px;
  }

  .app__button {
    font-weight: bold;
    font-size: 21px;
    line-height: 18px;
    padding: 15px 26px;
  }

  .app__list {
    margin-top: 70px;
    margin-bottom: 48px;
  }

  .app__description {
    margin-top: 0;
  }
}

