.editor {
  width: 100%;
  background-color: #F2F2F2;
}

.editor__wrapper {
  padding: 20px;
  padding-bottom: 40px;
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
}

.editor__img {
  padding: 0;
  margin: 0 auto;
  width: 280px;
  height: 374px;  
}

.editor__crop__range-controls,
.editor__fill__range-controls,
.editor__color__range-controls {
  display: none;
}

.editor__filter-list {
  width: 194px;
  list-style: none;
  padding: 32px 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.editor__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 73px;
}

.editor__button {
  width: 280px;
  display: block;
  padding: 16px 90px;
  margin: 0 auto;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  color: #D22856;
  border: 3px solid #D22856;
  box-sizing: border-box;
  border-radius: 30px;
  outline: none;
}

.editor__post-button:hover,
.editor__post-button:focus {
  background-color: #D22856;
  color: #FFFFFF;

}

.editor__post-button:active span {
  color: #FFFFFF;
  opacity: 0.3;
}

.editor__cancel-button {
  border: 3px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.1);
}

.editor__cancel-button:hover,
.editor__cancel-button:focus {
  border: 3px solid rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
}

.editor__cancel-button:active {
  border: 3px solid rgba(0, 0, 0, 0.1);
  background-color: #283645;
  opacity: 0.3;
}

.editor__cancel-button:active span {
  color: #FFFFFF;
  opacity: 0.3;
}



.editor__button:not(:last-of-type) {
  margin-bottom: 12px;
}

.editor__range-controls {
  padding: 0 20px;
  margin-bottom: 34px;
}

.editor__toggle {
  width: 14px;
  height: 14px;
  padding: 0;
  border: 2px solid #D22856;
  box-sizing: border-box;
  background-color: #FFFFFF;
  border-radius: 50%;
  position: absolute;
  top: -4px;
  right: 33px;
}

.editor__scale {
  position: relative;
  width: 240px;
  height: 2px;
  background-color: #283645;
}

.editor__separator {
  width: 100%;
  height: 1px;
  background-color: #283645;
  opacity: 0.1;
  margin-bottom: 38px;
}

.editor__crop__button {
  width: 44px;
  height: 44px;
  outline: none;
  border: none;
}

.editor__fill__button {
  width: 48px;
  height: 43px;
  outline: none;
  border: none;
}

.editor__color__button {
  width: 32px;
  height: 32px;
  outline: none;
  border: none;
}


@media(min-width: 320px) and (max-width:659px) {
  .editor__filter__button:hover,
  .editor__filter__button:focus {
    opacity: 0.5;
  }

  .editor__crop__button {
    background-image: url(../../img/icon-editor-crop-disabled.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
    opacity: 0.3;
  }
  
  .editor__crop__button:active {
    background-image: url(../../img/icon-editor-crop-active.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
    opacity: 1;
  }
  
  .editor__fill__button {
    background-image: url(../../img/icon-editor-fill-disabled.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
    opacity: 0.3;
  }

  .editor__fill__button:active {
    background-image: url(../../img/icon-editor-fill-active.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
    opacity: 1;
  }
  
  .editor__color__button {
    background-image: url(../../img/icon-editor-contrast-disabled.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
    opacity: 0.3;
  }

  .editor__color__button:active {
    background-image: url(../../img/icon-editor-contrast-active.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
    opacity: 1;
  }
}


@media (min-width: 660px) {
  .editor__range-controls_general {
    display: none;
  }

  .editor__img {
    width: 300px;
    height: 400px;
    margin: 0;
  }

  .editor__buttons {
    margin-top: 0;
  }

  .editor__crop__range-controls,
  .editor__fill__range-controls,
  .editor__color__range-controls {
    display: block;
  }

  .editor__crop__button {
    background-image: url(../../img/icon-editor-crop-tablet.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 22px 22px;
    opacity: 1;
  }

  .editor__fill__button {
    background-image: url(../../img/icon-editor-fill.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 24px 22px;
    opacity: 1;
  }

  .editor__color__button {
    background-image: url(../../img/icon-editor-contrast.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    opacity: 1;
  }

  .editor__filter-list {
    width: 275px;
    padding: 0;
    margin: 0;
    flex-direction: column;
  }

  .editor__filter-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    padding-bottom: 20px;
    padding-right: 18px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(40, 54, 69, 0.1);
  }

  // .editor__range-controls {
  //   position: relative;
  //   height: 100%;
  //   top: 50%;
  // }

  // .editor__scale {
  //   position: absolute;
  //   top: 50%;
  //   left: 0;
  //   padding: 0;
  // }

  .editor__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 660px;
    padding: 55px 20px;
    box-sizing: border-box;
  }

  .editor__controls {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
  }
}

@media (min-width: 1200px) {
  .editor__range-controls_general {
    display: none;
  }

  .editor__crop__range-controls,
  .editor__fill__range-controls,
  .editor__color__range-controls {
    display: block;
  }

  .editor__crop__button {
    background-image: url(../../img/icon-editor-crop-desktop.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 44px 44px;
  }

  .editor__fill__button {
    background-image: url(../../img/icon-editor-fill-desktop.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 48px 43px;
  }

  .editor__color__button {
    background-image: url(../../img/icon-editor-contrast-desktop.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 32px 32px;
  }

  .editor__img {
    width: 300px;
    height: 400px;
  }

  .editor__filter-list {
    width: 410px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    flex-direction: column;
  }

  .editor__filter-item {
    box-sizing: border-box;
    position: relative;
    padding-top: 0;
  }

  .editor__range-controls {
    position: relative;
    height: 100%;
    top: 50%;
  }

  .editor__scale {
    position: absolute;
    top: 50%;
    left: 0;
    padding: 0;
  }

  .editor {
    width: 940px;
    margin: 0 auto;
    margin-bottom: 25px;
  }

  .editor__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 940px;
    padding: 55px 80px;
    padding-right: 60px;
    box-sizing: border-box;
  }

  .editor__buttons {
    width: 410px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .editor__button {
    width: 183px;
    padding: 15px 42px;
    margin: 0;
  }

  .editor__filter-item {
    padding-top: 0;
  }

  .editor__button:first-of-type {
    margin: 0;
  }
}