.feedback__wrapper {
  padding: 0 20px;
  padding-top: 50px;
  padding-bottom: 74px;
}

.feedback__header {
  width: 222px;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  margin: 0 auto;
  text-align: center;
}

.feedback__list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  margin-top: 38px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedback__item:not(:last-of-type) {
  margin-bottom: 17px;
}

.feedback__item {
  width: 241px;
  text-align: center;
}

.feedback__text {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  margin: 0;
}

.feedback__link {
  text-decoration: none;
  color: #D22856;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
}

.feedback__link:hover,
.feedback__link:focus {
  color: #283645;
}

.feedback__link:active {
  opacity: 0.3;
}

@media (min-width: 660px) {
  .feedback__header {
    font-weight: 300;
    font-size: 40px;
    line-height: 54px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 31px;
    text-align: center;
  }

  .feedback__wrapper {
    width: 660px;
    padding: 0 20px;
    padding-top: 50px;
    padding-bottom: 74px;
    box-sizing: border-box;
    margin: 0 auto;
  }

  .feedback__list {
    width: 544px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .feedback__item {
    width: 50%;
  }

  .feedback__item:last-child {
    width: 100%;
    margin-top: 28px;
  }

  .feedback__item_phone {
    align-self: flex-start;
  }

  .feedback__item_mail {
    align-self: flex-end;
  }

  .feedback__link {
    width: 211px;
  }
}

@media (min-width: 1200px) {
  .feedback {
    width: 100%;
  }

  .feedback__wrapper {
    width: 1200px;
    padding: 0 130px;
    padding-top: 50px;
    padding-bottom: 74px;
    box-sizing: border-box;
    margin: 0 auto;
  }

  .feedback__header {
    font-size: 50px;
    line-height: 68px;
    margin-bottom: 43px;
  }

  .feedback__list {
    width: 930px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .feedback__item {
    width: 100%;
  }

  .feedback__item:not(:last-of-type) {
    margin-bottom: 0;
  }

  .feedback__item:last-child {
    margin-top: 0;
  }

  .feedback__item_mail {
    order: 1;
    align-self: baseline;
  }

  .feedback__text {
    margin-bottom: 20px;
  }
}