.form {
  margin-bottom: 20px;
}

.contest__form {
  border: 0;
  box-sizing: border-box;
}

.contest__hidden-text {
  display: none;
}

.contest__fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  flex-wrap: wrap;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}

.contest__fieldset_special {
  border: 0;
}

.contest__personal {
  width: 320px;
  padding: 20px;
  padding-bottom: 23px;
  padding-top: 0;
  box-sizing: border-box;
  margin: 0 auto;
}

.contest__personal__wrapper {
  // width: 100%;
  box-sizing: border-box;
}

.contest__contacts {
  width: 320px;
  padding: 32px 20px;
  padding-bottom: 26px;
  box-sizing: border-box;
  margin: 0 auto;
}

.contest__feedback {
  width: 320px;
  padding: 48px 20px;
  box-sizing: border-box;
  margin: 0 auto;
}

.contest__feedback__wrapper {
  // width: 100%;
  box-sizing: border-box;
}

.feedback__legend {
  margin-bottom: 16px;
}

.contest__text {
  width: 276px;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  padding: 14px 20px;
  margin-top: 3px;
  box-sizing: border-box;
}

.contest__text:hover {
  border: 2px solid #283645;
  border-radius: 1px;
}

.contest__text:focus {
  border: 2px solid #D22856;
  border-radius: 1px;
  outline: none;
}

.contest__achievement,
.contest__app {
  background-color: #F2F2F2;
  width: 100%;
}

.app__legend {
  margin-bottom: 35px;
}

.achievement__item:not(:last-of-type) {
  margin-bottom: 52px;
}

.personal__item:not(:last-of-type) {
  margin-bottom: 20px;
}

.contacts__legend {
  display: none;
}

.contest__legend {
  width: 218px;
  margin-right: auto;
  margin-left: auto;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #D22856;
  text-transform: uppercase;
  text-align: center;
}

.achievement__item {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  padding-left: 50px;
}

// .contest__legend {
//   margin-bottom: 44px;
// }

.contest__app__item:not(:last-of-type) {
  margin-bottom: 45px;
}

.contest__label {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #D22856;
  text-transform: uppercase;
  display: block;
  margin-bottom: 20px;
}

.contest__label span {
  padding-left: 23px;
}

.contest__label input {
  border: 2px solid #E5E5E5;
  border-radius: 1px;
}

.contest__checkbox {
  opacity: 0;
}

.achievement__item::before {
  content: "";
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #FFFFFF;
  border: 2px solid #E5E5E5;
  border-radius: 1px;
  position: absolute;
  left: 0;
}

.achievement__item::after {
  content: "";
  display: inline-block;
  background-image: url(../../img/icon-tick.png);
  width: 22px;
  height: 16px;
  position: absolute;
  left: 10px;
  top: 10px;
}

.contest__checkbox:hover + .achievement__item::before,
.contest__checkbox:focus + .achievement__item::before {
  border: 2px solid #283645;
}

.contest__checkbox:active + .achievement__item::before {
  border: 2px solid #D22856;
}

.contest__checkbox + .achievement__item::after {
  content: none;
}

.contest__checkbox:checked + .achievement__item::after {
  content: "";
}

.contest__radio {
  opacity: 0;
}

.contest__app__item::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 37px;
  height: 37px;
  background: #FFFFFF;
  border: 2px solid #E5E5E5;
  border-radius: 50%;
  left: 0px;
}

.contest__app__item::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #D22856;
  border-radius: 50%;
  left: 13px;
  top: 12px;
}

.contest__radio:hover + .contest__app__item::before,
.contest__radio:focus + .contest__app__item::before {
  border: 2px solid #283645;
}

.contest__radio:active + .contest__app__item::before {
  border: 2px solid #D22856;
}

.contest__radio + .contest__app__item::after {
  content: none;
}

.contest__radio:checked + .contest__app__item::after {
  content: "";
}

.contest__app__item {
  position: relative;
  padding-left: 50px;
}

.achievement__item {
  position: relative;
}

.contest__textarea {
  width: 276px;
  margin: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  box-sizing: border-box;
  padding-top: 13px;
  padding-left: 18px;
  padding-right: 6px;
}

.contest__textarea:hover {
  border: 2px solid #283645;
  border-radius: 1px;
  padding-top: 12px;
  padding-left: 17px;
  padding-right: 6px;
}

.contest__textarea:focus {
  border: 2px solid #D22856;
  border-radius: 1px;
  outline: none;
  padding-top: 12px;
  padding-left: 17px;
  padding-right: 6px;
}

.contest__extra {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.contest__button {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #2AAB6D;
  border: 2px solid #2AAB6D;
  border-radius: 1px;
  padding: 14px 45px;
  box-sizing: border-box;
}

.contest__button:hover,
.contest__button:focus,
.contest__button:active {
  background-color: #1C9B5E;
  border: 2px solid #1C9B5E;
  outline: none;
}

.contest__button:disabled {
  background-color: #E5E5E5;
  border: 2px solid #E5E5E5;
}

.contest__button:active span {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  opacity: 0.3;
}

.contest__extra-info {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  margin-top: 36px;
}

.contest__special {
  color: #D22856;
}

.contest__app {
  box-sizing: border-box;
  padding: 40px 20px;
  width: 100%;
  background-color: #F2F2F2;
}

.contest__app__wrapper {
  width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
}

.contest__app__item span {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
}

.contest__achievement {
  width: 100%;
  box-sizing: border-box;
  padding: 40px 20px;
  padding-bottom: 45px;
  background-color: #F2F2F2;

}

.contest__achievement__wrapper {
  width: 320px;
  box-sizing: border-box;
  margin: 0 auto;
}

.achievement__legend {
  margin-bottom: 44px;
}

.contest__extra-info_desktop {
  display: none;
}

@media (min-width: 660px) {
  .form {
    margin-bottom: 50px;
  }

  .contest__personal {
    width: 620px;
    padding: 20px 20px;
    padding-bottom: 40px;
    box-sizing: border-box;
  }

  .contest__personal__wrapper {
    width: 100%;
    order: -3;
  }

  .personal__item:not(:last-of-type) {
    margin-bottom: 50px;
  }

  .contest__contacts {
    width: 620px;
    padding: 40px 20px;
    box-sizing: border-box;
    margin: 0 auto;
    margin-bottom: 60px;
  }

  .contest__contacts__wrapper {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    order: -1;
  }

  .contest__fieldset {
    border: 2px solid #E5E5E5;
    border-radius: 1px;
  }

  .contest__legend {
    width: 318px;
    margin-bottom: 0;
  }

  // .contest__achievement,
  // .contest__app {
  //   background-color: #FFFFFF;
  //   width: 100%;
  // }

  .personal__item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }

  .personal__item span {
    margin-right: 20px;
    padding: 0;
  }

  .contest__text {
    width: 100%;
    box-sizing: border-box;
  }

  .contest__form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .contest__app {
    // padding: 46px 82px;
    padding-top: 82px;
    padding-bottom: 56px;
    box-sizing: border-box;
    background-color: #FFFFFF;
  }

  .contest__app__wrapper {
    width: 620px;
    padding: 0 20px;
    margin-bottom: 60px;
    box-sizing: border-box;
    order: -2;
  }

  .contest__achievement {
    padding: 48px 82px;
    background-color: #FFFFFF;
  }

  .contest__achievement__wrapper {
    width: 660px;
    padding: 0 20px;
    box-sizing: border-box;
    margin-bottom: 65px;
  }

  .contacts__legend {
    display: block;
    width: 198px;
  }

  .contacts__item {
    width: 496px;
    margin: 0 auto;
  }
  
  .contacts__item span {
    order: -1;
  }

  .contest__extra {
    width: 620px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .contest__extra-info {
    margin-top: 0;
  }

  .achievement__legend {
    width: 374px;
  }

  .contest__feedback {
    width: 660px;
    padding: 35px 62px;
    padding-bottom: 45px;
    margin-bottom: 65px;
  }

  .contest__feedback__wrapper {
    width: 660px;
    padding: 0 20px;
    margin: 0 auto;
  }

  .contest__textarea {
    width: 100%;
  }

  .contest__button {
    padding-left: 55px;
    padding-right: 55px;
  }
}

@media (min-width: 1200px) {
  .form {
    margin-bottom: 0;
  }

  .form__wrapper {
    width: 1200px;
    margin: 0 auto;
    padding: 0 130px;
    box-sizing: border-box;
  }
  
  .contest__form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 130px;
    box-sizing: border-box;
  }

  .contest__personal {
    width: 100%;
    padding: 0;
  }

  .contest__personal__wrapper {
    width: 433px;
    margin-right: 74px;
    padding-top: 20px;
    margin-bottom: 60px;
  }

  .contest__app {
    width: 100%;
    padding: 55px 55px;
  }

  .contest__app__wrapper {
    width: 433px;
    padding: 0;
    margin: 0;
    margin-bottom: 60px;
  }

  .contest__achievement {
    width: 940px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .contest__achievement__wrapper {
    width: 100%;
    padding: 0;
    margin-bottom: 60px;
  }

  .achievement__item {
    width: 260px;
  }

  .contest__contacts {
    width: 940px;
    display: flex;
    flex-direction: row;
    padding: 44px 50px;
  }

  .contest__contacts__wrapper {
    width: 100%;
    padding: 0;
  }

  .contest__feedback {
    width: 940px;
  }

  .contest__feedback__wrapper {
    width: 100%;
    padding: 0;
  }

  .feedback__legend {
    width: 260px;
  }

  .contacts__item {
    width: 371px;
    margin: 0;
  }

  .contest__extra {
    width: 940px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .contest__text {
    width: 100%;
  }

  .contest__textarea {
    min-height: 124px;
  }

  .contest__hidden-text {
    display: block;
  }

  .personal__item:last-of-type {
    margin-bottom: 0;
  }

  .contest__extra-info_mobile {
    display: none;
  }

  .contest__extra-info_desktop {
    display: block;
  }
}
