.contest__form {
  border: 0;
}

.contest__fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.contest__fieldset_special {
  border: 0;
}

.contest__fieldset:not(:last-of-type) {
  margin-bottom: 44px;
}

.contest__personal {
  width: 320px;
  padding: 0 20px;
  box-sizing: border-box;
  margin: 0 auto;
}

.contest__contacts {
  width: 320px;
  padding: 0 20px;
  box-sizing: border-box;
  margin: 0 auto;
}

.contest__text {
  width: 276px;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  padding: 14px 20px;
  box-sizing: border-box;
}

.contest__achievement,
.contest__app {
  background-color: #F2F2F2;
}

.achievement__item:not(:first-of-type) {
  margin-top: 65px;
}

.personal__item:not(:last-of-type) {
  margin-bottom: 29px;
}

.contacts__legend {
  display: none;
}

.contest__legend {
  width: 218px;
  margin: 0 auto;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #D22856;
  text-transform: uppercase;
  text-align: center;
}

.achievement__item {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
}

.contest-app__item:not(:first-of-type) {
  margin-top: 62px;
}

.contest__label {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #D22856;
  text-transform: uppercase;
  display: block;
  margin-bottom: 29px;
}

.contest_textarea {
  width: 276px;
  margin: 0 auto;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  box-sizing: border-box;
}

.contest__extra {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.contest__button {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #2AAB6D;
  border: 2px solid #2AAB6D;
  border-radius: 1px;
  padding: 14px 45px;
  box-sizing: border-box;
}

.contest__extra-info {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
}

.contest__special {
  color: #D22856;
}

.contest__app {
  padding: 40px 20px;
}

.contest__app__wrapper {
  width: 100%;
  box-sizing: border-box;
}

.contest__achievement {
  padding: 40px 20px;
}

.contest__achievement__wrapper {
  width: 100%;
  box-sizing: border-box;
}


@media (min-width: 660px) {
  .contest__personal {
    width: 660px;
    padding: 0 20px;
    order: -2;
  }

  .contest__contacts {
    width: 100%;
    padding: 40px 20px;
    box-sizing: border-box;
    margin: 0;
  }

  .contest__contacts__wrapper {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
  }

  .contest__fieldset {
    border: 2px solid #E5E5E5;
    border-radius: 1px;
  }

  .contest__achievement,
  .contest__app {
    background-color: #FFFFFF;
  }

  .personal__item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .contest__text {
    width: 100%;
    box-sizing: border-box;
  }

  .contest__form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .contest__app {
    padding: 54px 82px;
  }

  .contest__app__wrapper {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    order: -1;
  }

  .contest__achievement {
    padding: 54px 82px;
  }

  .contest__achievement__wrapper {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
  }

  .contest__feedback {
    padding: 54px 62px;
  }

  .contest__feedback__wrapper {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
  }

  .contest_textarea {
    width: 100%;
    padding: 0 20px;
  }

  .contacts__legend {
    display: block;
  }

  .contacts__item {
    width: 496px;
    margin: 0 auto;
  }
  
  .contacts__item span {
    order: -1;
  }

  .contest__extra {
    width: 620px;
    margin: 0 auto;
    margin-top: 69px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 1200px) {
  .contest__form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 130px;
  }

  .contest__personal {
    width: 50%;
  }

  .contest__app__wrapper {
    width: 50%;
  }

  .contest__achievement {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .achievement__item {
    width: 260px;
  }

  .contest__contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .contacts__item {
    width: 50%;
  }

  .contest__extra {
    width: 900px;
    margin: 0 auto;
    margin-top: 69px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
