.map {
  position: relative;
  height: 400px;
  overflow: hidden;
}

.map__interactive {
  position: relative;
  z-index: 10;
  width: 100%;
}

.map__img {
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  // background-image: url(../../img/bg-map-mobile@1x.png);
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-position: center center;
}

@media (min-width: 660px) {
  .map__interactive {
    overflow: hidden;
    width: 100%;
  }

  .map__img {
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    height: auto;
    // background-image: url(../../img/bg-map-tablet@1x.jpg);
    // background-size: cover;
    // background-repeat: no-repeat;
    // background-position: center center;
  }
}

@media (min-width: 1200px) {
  .map {
    overflow: hidden;
    margin: 0 auto;
    height: 502px;
    // background-image: url(../../img/bg-map-desktop@1x.jpg);
    // background-size: cover;
    // background-repeat: no-repeat;
    // margin: auto;
  }
}