.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-media {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 181px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.social-media__item {
  text-align: center; 
  border: 3px solid #283645;
  width: 48px;
  line-height: 48px;
  border-radius: 100%; 
  display: inline-block; 
  vertical-align: top;
}

.social-media__item:not(:last-of-type) {
  margin-right: 14px;
}

.page-footer__developed {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
}

.page-footer__academy {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 130px;
}

.page-footer__item {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.page-footer__wrapper {
  padding: 0 20px;
  width: 280px;
}

.page-footer__logo {
  background-image: url(../../img/logo-pink-blue-mobile.svg);
  background-repeat: no-repeat;
  width: 145px;
  height: 40px;
}

@media (min-width: 660px) {
  .page-footer {
    width: 100%;
  }

  .page-footer__wrapper {
    width: 620px;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 1200px) {
  .page-footer__logo {
    background-image: url(../../img/logo-pink-blue-desktop.svg);
    background-repeat: no-repeat;
    width: 147px;
    height: 40px;
  }

  .page-footer__wrapper {
    display: flex;
    flex-direction: row;

  }

  .page-footer__wrapper {
    width: 940px;
    padding: 0 130px;
    margin: 0 auto;
  }
}