.plan {
  width: 100%;
  background-color: #F2F2F2;
  overflow: hidden;
}

.plan__wrapper {
  padding-top: 100px;
  padding-bottom: 49px;
}

.plan__table_mobile {
  width: 832px;
  overflow: hidden;
  margin: 0 auto;
  margin-left: -260px;
}

.plan__table_tablet {
  display: none;
}

.plan__header {
  width: 90px;
  background-color: #283645;
  color: #ffffff;
  text-transform: uppercase;
  border: 2px solid #283645;
  border-right: 2px solid #F2F2F2;
  border-radius: 1px 0px 0px 0px;
}

.plan__price {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
}

.plan__column {
  width: 280px;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  background-color: #ffffff;
  border: 2px solid #E5E5E5;
  border-radius: 1px 0px 0px 0px;
  border-collapse: collapse;
}

.plan__buttons {
  width: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 45px;
}

.plan__button {
  width: 2px;
  height: 2px;
  background-color: #283645;
  opacity: 0.3;
  border: none;
  border-radius: 50%;
  padding: 3px;
}

.plan__button:hover,
.plan__button:focus {
  opacity: 0.6;
}

.plan__button:active {
  opacity: 0.1;
}

.plan__button_current {
  width: 2px;
  height: 2px;
  padding: 3px;
  border: 3px solid #283645;
  border-radius: 50%;
  background-color: #ffffff;
  opacity: 1;
  outline: none;
}

@media (min-width: 660px) {
  .plan {
    padding-left: 0;
  }

  .plan__table_mobile {
    display: none;
  }

  .plan__table_tablet {
    display: block;
    width: 100%;
    border-collapse: collapse;
  }

  .plan__wrapper {
    padding: 100px 20px;
    padding-bottom: 49px;
    box-sizing: border-box;
    width: 660px;
    margin: 0 auto;
  }

  .plan__column {
    width: 152px;
    text-transform: none;
    padding: 10px 0;
    box-sizing: border-box;
    text-align: center;
    // display: flex;
    // align-items: center;
    // justify-content: center;
  }

  .plan__column svg {
    margin: 0 auto;
  } 

  .plan__header_hidden {
    opacity: 0;
    border: none;
  }

  .plan__row th {
    padding: 15px;
  }

  .plan__column__name {
    padding: 7px 10px;
    padding-left: 22px;
    width: 152px;
    text-transform: none;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    background-color: #ffffff;
    border: 2px solid #E5E5E5;
    border-radius: 1px 0px 0px 0px;
  }

  .plan__buttons {
    display: none;
  }
}

@media (min-width: 1200px) {
  .plan__wrapper {
    width: 1200px;
    padding: 100px 130px;
    padding-bottom: 49px;
  }

  .plan__column {
    width: 233px;
  }

  .plan__column__name {
    width: 234px;
  }
}