.review__wrapper {
  padding: 0px 20px;
}

.review__item {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
}

.review__author-name {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  padding-top: 32px;
}

.review__buttons {
  width: 100px;
  display: flex;
  flex-direction: row;
  margin: 12px auto;
  padding-left: 25px;
}

.review__button {
  width: 2px;
  height: 2px;
  background-color: #283645;
  opacity: 0.3;
  border: none;
  border-radius: 50%;
  padding: 3px;
}

.review__button:hover,
.review__button:focus {
  opacity: 0.6;
}

.review__button:active {
  opacity: 0.1;
}

.review__button_current {
  width: 2px;
  height: 2px;
  padding: 3px;
  border: 3px solid #283645;
  border-radius: 50%;
  background-color: #ffffff;
  opacity: 1;
  outline: none;
  margin-right: 19px;
}

// .review__button_current:hover,
// .review__button_current:focus,
// .review__button_current:active {
//   opacity: 0.3;
// }

.review__button:not(:last-of-type) {
  margin-right: 19px;
}

.review__autor-name__info {
  display: none;
}

.review__icon,
.review__arrow {
  display: none;
}

@media (min-width: 660px) {
  .review {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .review__wrapper {
    padding: 50px 20px;
  }

  .review__item {
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
  }

  .review__item span {
    order: -1;
  }

  .review__autor-name__info {
    font-style: normal;
    font-weight: normal;
    display: block;
    font-size: 14px;
    line-height: 30px;
  }
}

@media (min-width: 1200px) {
  .review__content__wrapper {
    width: 900px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .review__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 75px;
  }

  .review__icon {
    display: flex;
    opacity: 0.1;
    margin: 0 auto;
    margin-bottom: 58px;
  }

  .review__item {
    width: 688px;
    margin: 0 auto;
  }

  .review__item span {
    order: -1;
  }

  .review__buttons {
    display: none;
  }

  .review__arrow {
    display: block;
  }

  .review__turn-left {
    background-image: url(../../img/icon-review-arrow-left.svg);
    width: 22px;
    height: 41px;
    opacity: 0.3;
  }

  .review__turn-right {
    background-image: url(../../img/icon-review-arrow-right.svg);
    width: 22px;
    height: 41px;
    opacity: 0.3;
  }

  .review__arrow:hover,
  .review__arrow:focus {
    opacity: 0.6;
  }

  .review__arrow:active {
    opacity: 0.1;
  }

  .review__author-name {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
  }

  .review__autor-name__info {
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
  }
}