.contest__header {
    width: 228px;
    margin: 0 auto;
    padding-top: 36px;
    padding-bottom: 51px;
    font-weight: 300;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    color: #Ffffff;
}

.contest__header__wrapper {
    background-image: url(../img/bg-back-mobile@1x.jpg);
}

.contest__description {
    width: 280px;
    margin: 54px auto;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    color: #283645;
    text-align: center;
}