body { 
  background: #ffffff;
  min-width: 320px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  outline: 2px solid red;
}

// .container {
//   width: auto;
// }

// // @media (min-width: 660px) {
// //   .container {
// //     width: 620px;
// //     padding: 0 20px;
// //   }
// // }

// @media (min-width: 1200px) {
//   .container {
//     width: 1200px;
//     padding: 0 130px;
//   }
// }

.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding:0;
  border:0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.modal-show {
  display: flex;
}