body { 
  background: #ffffff;
  width: 320px;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  outline: 2px solid red;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding:0;
  border:0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.modal-show {
  display: flex;
}