.user-photo {
    width: 320px;
}

.user-photo__header {
    padding-top: 36px;
    padding-bottom: 84px;
    background-image: url(../img/bg-back-mobile@1x.jpg);
    background-repeat: no-repeat;
}

.user-photo__header-text {
    width: 172px;
    margin: 0 auto;
    font-weight: 300;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
    text-align: center;
}

.user-photo__description {
    padding: 0 20px;
    padding-top: 54px;
    padding-bottom: 60px;
    margin: 0 auto;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
}

.user-photo__list {
    list-style: none;
    padding: 0;   
}

.user-photo__item {
    width: 280px;
    margin: 0 auto;
    background-color: #F2F2F2;
}

.user-photo__item:not(:last-of-type) {
    margin-bottom: 20px;
}

.user-photo__user-name {
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    margin: 0;
}

.user-photo__name-n-time-wrapper {
    display: flex;
    flex-direction: row;
}

.user-photo__user-time {
    color: #283645;
    font-weight: 300;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    margin: 0;
}

.user-photo__text {
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    margin: 0;
}

.user-photo__indent {
    padding: 10px 26px;
}

.user-photo__like {
    color: #D22856;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
}